<form [formGroup]="extratoForm" (ngSubmit)="submeterConsulta()">
  <h1 class="tituloExtrato">Consulta de extrato</h1>

  <label for="numeroConta">Nº da conta</label>
  <input
    id="numeroConta"
    formControlName="numeroConta"
    type="text"
    required
    (input)="somenteNumeros($event)"
  />

  <button type="submit">Consultar</button>
</form>

<div *ngIf="mostrarExtrato" class="extratoMensagem">
  <h2>Extrato da Conta {{ numeroConta }}</h2>
  <div *ngFor="let item of extrato">
    <p><strong>Data:</strong> {{ item.data }}</p>
    <p><strong>Tipo:</strong> {{ item.tipo }}</p>
    <p><strong>Valor:</strong> R$ {{ item.valor | number : "1.2-2" }}</p>
    <hr />
  </div>
</div>

<div *ngIf="mostrarErro" class="erroMensagem">
  {{ mensagemErro }}
</div>
